@charset "UTF-8";

@font-face {
  font-family: "social";
  src:url("fonts/social.eot");
  src:url("fonts/social.eot?#iefix") format("embedded-opentype"),
    url("fonts/social.woff") format("woff"),
    url("fonts/social.ttf") format("truetype"),
    url("fonts/social.svg#social") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]::before {
  font-family: "social" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  vertical-align: middle;
  speak: none;
  line-height: 1;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="social-"]::before,
[class*=" social-"]::before {
  font-family: "social" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  vertical-align: middle;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.social-angies-list::before {
	content: "\78";
}
.social-app-store::before {
	content: "\35";
}
.social-behance::before {
	content: "\74";
}
.social-bluesky::before {
	content: "\40";
}
.social-bing::before {
	content: "\52";
}
.social-buymeacoffee::before {
	content: "\44";
}
.social-deviantart::before {
	content: "\76";
}
.social-discord::before {
	content: "\4a";
}
.social-dribbble::before {
	content: "\6d";
}
.social-dropbox::before {
	content: "\53";
}
.social-email::before {
	content: "\47";
}
.social-envato::before {
	content: "\43";
}
.social-facebook::before {
	content: "\62";
}
.social-facebook-messenger::before {
	content: "\4c";
}
.social-figma::before {
	content: "\54";
}
.social-flickr::before {
	content: "\6b";
}
.social-foursquare::before {
	content: "\6f";
}
.social-github::before {
	content: "\63";
}
.social-google::before {
	content: "\55";
}
.social-google-play::before {
	content: "\36";
}
.social-houzz::before {
	content: "\41";
}
.social-instagram::before {
	content: "\6a";
}
.social-line::before {
	content: "\32";
}
.social-linkedin::before {
	content: "\67";
}
.social-location::before {
	content: "\45";
}
.social-medium::before {
	content: "\33";
}
.social-microsoft-teams::before {
	content: "\4f";
}
.social-mobile::before {
	content: "\46";
}
.social-mastodon::before {
	content: "\56";
}
.social-patreon::before {
	content: "\39";
}
.social-pinterest::before {
	content: "\65";
}
.social-podcast::before {
	content: "\38";
}
.social-paypal::before {
	content: "\7a";
}
.social-qq::before {
	content: "\59";
}
.social-qzone::before {
	content: "\5a";
}
.social-reddit::before {
	content: "\72";
}
.social-rss::before {
	content: "\64";
}
.social-share::before {
	content: "\34";
}
.social-signal::before {
	content: "\37";
}
.social-skype::before {
	content: "\6e";
}
.social-slack::before {
	content: "\57";
}
.social-snapchat::before {
	content: "\4e";
}
.social-soundcloud::before {
	content: "\77";
}
.social-spotify::before {
	content: "\75";
}
.social-stripe::before {
	content: "\50";
}
.social-substack::before {
	content: "\30";
}
.social-telegram::before {
	content: "\66";
}
.social-tiktok::before {
	content: "\48";
}
.social-tinder::before {
	content: "\58";
}
.social-twitter::before {
	content: "\61";
}
.social-tumblr::before {
	content: "\6c";
}
.social-threads::before {
	content: "\4d";
}
.social-twitch::before {
	content: "\73";
}
.social-viber::before {
	content: "\31";
}
.social-vimeo::before {
	content: "\42";
}
.social-vk::before {
	content: "\70";
}
.social-wechat::before {
	content: "\4b";
}
.social-weibo::before {
	content: "\71";
}
.social-whatsapp::before {
	content: "\49";
}
.social-xing::before {
	content: "\68";
}
.social-yelp::before {
	content: "\79";
}
.social-youtube::before {
	content: "\69";
}
.social-zoom::before {
	content: "\51";
}